@charset "UTF-8";

.main_slider_wrap .main_slider {width: 100%; height:100%; }
.main_slider_wrap .swiper-wrapper img {width: 100%;}
/* 메인슬라이더 페이지네이션 */
.swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #60a1fc;
    transition: all 0.4s;
}
.swiper-pagination .swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
    background: #3486f9;
}


